.header{
  display:flex;
  justify-content:space-between;
  border: 1px solid black;
  
  padding:10px;
  

  
}
.nav-items{
 padding:0px 20px;

}

.navbar{
    height: 60px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
   width:100px;
   height:100px;
   border-radius:50%;
   
   margin: 10px;
}
.nav-items>ul{
    
    list-style-type:none;
    display:flex;
    gap:20px;
    margin-right: 10px;
   

}
.res-card{
 
  border: 1px solid black;
  width:200px;
  height:400px;
  padding: 5px;
}

.res-card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  border: 1px solid grey;
  cursor: pointer;
  margin:5px
}

.filter-button{
  padding:5px;
  background-color:gray;
  color:white;
  width: 100px;
  height: 40px;
  text-align:center;
  border-radius:10px;
  margin:20px;
  cursor:pointer;

}
.img{
  
  width:100% ;      /* Fixed width or use max-width for responsiveness */
  height: 150px;      /* Fixed height for uniformity */
  object-fit: cover;  /* Crops and scales the image so it covers the area */
  border-radius: 8px; /* Optional: rounded corners for better aesthetics */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}


.restro-container{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:20px;
}
.shimmer-container{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:20px;
  flex-wrap: wrap;
}
.shimmer-card{
  width:200px;
  height:400px;
  background-color:aqua;
  margin:5px;
  border-radius:10px;
  animation: shimmer 1.5s infinite;
}
.top-bar{
  display:flex;
  
  align-items:center;
  
}
.search-button{
  padding:5px;
  background-color:gray;
  color:white;
  width: 100px;
  height: 40px;
  text-align:center;
  border-radius:10px;
  margin:20px;
  cursor:pointer;

}